body{
    background-color: azure;
}

header{
    background-color: rgb(134, 220, 220);
    padding: 20px 0;    
}

.caja{
    /* max-width: 940px;
    position: relative;
    margin: 0 auto;     */

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

nav{
    /* position: absolute; */
    top: 110px;
    /* right: 20px; */
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
} 

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}